﻿@model Viztech.Models.BIO_SYSTEM_SETUP

@{
    ViewBag.Title = "System-Setup";
    ViewBag.Controller = "Home";
    ViewBag.Action = "System-Setup";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}

@using (Html.BeginForm("Index", "SystemSetup", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SS_ID)

    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Manage Configration</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <!-- /.Case Form Start -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Session Time")
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SS_SESSION_TIME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Session time in minutes" } })
                            @Html.ValidationMessageFor(model => model.SS_SESSION_TIME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
    </div>
    <div>
        @{
            Html.RenderAction("IndexList", "SystemSetup");
        }
    </div>
}