﻿@model IEnumerable<Viztech.Models.SP_BIO_GET_GIDA_USER_DETAILS_ADMIN_Result>

@{
    ViewBag.Title = "User Details";
    ViewBag.Controller = "Home";
    ViewBag.Action = "User Details";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
    using (Html.BeginForm("UserSummary", "MisReport", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="card card-default card-outline">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">

                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.Label("From Date")
                                    </div>
                                    <div class="col-md-10">
                                        <input type="date" name="FromDate" autocomplete="off" id="FromDate" class="form-control" placeholder="Select Start Date" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.Label("To Date")
                                    </div>
                                    <div class="col-md-10">
                                        <input type="date" name="ToDate" autocomplete="off" id="ToDate" class="form-control" placeholder="Select End Date" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="submit" value="Fetch" class="btn btn-outline-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">User Details</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.Case Form Start -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered text-center table-hover">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>User Id</th>
                                <th>Assign Group</th>
                                <th>Maker</th>
                                <th>Checker</th>
                                <th>Maker Time</th>
                                <th>Checker Time</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.USER_NAME)</td>
                                    <td>@Html.DisplayFor(modelItem => item.GroupName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AddUser)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ACTIVATOR_ID)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DateAdded)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ActivationDate)</td>
                                    @if (item.USER_STATUS == "Active")
                                    {
                                    <td><p class="badge badge-success badge-font">Active</p></td>
                                    }
                                    else
                                    {
                                        <td><p class="badge badge-danger badge-font">Deactive</p></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
}