﻿@model IEnumerable<Viztech.Models.SP_BIO_GET_USER_DETAIL_LOGS_ADMIN_Result>

@{
    ViewBag.Title = "Bio Activity Details";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Bio Activity Details";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
    using (Html.BeginForm("BioActivity", "LogReport", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="card card-default card-outline">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">

                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.Label("From Date")
                                    </div>
                                    <div class="col-md-10">
                                        <input type="date" name="FromDate" autocomplete="off" id="FromDate" class="form-control" placeholder="Select Start Date" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.Label("To Date")
                                    </div>
                                    <div class="col-md-10">
                                        <input type="date" name="ToDate" autocomplete="off" id="ToDate" class="form-control" placeholder="Select End Date" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.Label("CNIC")
                                    </div>
                                    <div class="col-md-10">
                                        <input type="text" name="CNIC" autocomplete="off" id="CNIC" class="form-control" placeholder="Enter CNIC Number" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="submit" value="Fetch" class="btn btn-outline-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Bio Activity Details</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.Case Form Start -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered text-center table-hover">
                        <thead class="Custom-Table-Head">
                            <tr>
                                <th>CNIC No</th>
                                <th>Name</th>
                                <th>Father/Husband Name</th>
                                <th>Birth Place</th>
                                <th>Date of Birth</th>
                                <th>CNIC Expiry Date</th>
                                <th>Present Address</th>
                                <th>Card Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.CNIC)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CITIZEN_NAME)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FATHER_HUSBAND_NAME)</td>
                                    <td>@Html.DisplayFor(modelItem => item.BIRTH_PLACE)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DATE_OF_BIRTH)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CNIC_EXPIRY_DATE)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PRESENT_ADDRESS)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CARD_TYPE)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
}