﻿@model Viztech.Models.CUSTOM_LOGIN

@{
    Layout = null;
    ViewBag.Title = "Login";

    if (ViewBag.message == "Logged In Successfully !" && ViewBag.message != null)
    {
        <div class="alert alert-success text-center" role="alert" id="messagebox">
            @ViewBag.message
            <button type="button" id="Btnclose" class="btn btn-default close" data-dismiss="alert"><i class="fa fa-times"></i></button>
        </div>
    }
    else if (ViewBag.message != "Logged In Successfully !" && ViewBag.message != null)
    {
        <div class="alert alert-warning text-center" id="messagebox" role="alert">
            @ViewBag.message
            <button type="button" id="Btnclose" class="btn btn-default close" data-dismiss="alert"><i class="fa fa-times"></i></button>
        </div>
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="~/Content/Assets/Login/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Assets/Login/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Assets/Login/fonts/flaticon/font/flaticon.css">
    <!-- Google fonts -->
    <link type="text/css" rel="stylesheet" href="~/Content/Assets/Login/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="~/Content/Assets/Login/css/skins/default.css">
</head>
<body id="top" class="bg-color-8">
    <div class="page_loader"></div>
    <!-- Login 19 start -->
    <div class="login-19">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="login-inner-form">
                        <div class="details">
                            <div class="logo-200">
                                <a href="@Url.Action("Index", "Login")">
                                    <img src="~/Content/Assets/Login/img/logos/logo.png" width="90" height="60" alt="Citi Bank NA">
                                </a>
                            </div>
                            <hr />
                            <div class="logo-2000">
                                <a href="@Url.Action("Index", "Login")">
                                    <img src="~/Content/Assets/Login/img/Biometric.png" height="150" alt="Citi Biometric">
                                </a>
                            </div>
                            <h6>Version 2.7.0.6</h6>
                            @*<h3>Sign into your account</h3>*@
                            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.ID)

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group form-box">
                                        @Html.DropDownListFor(model => model.DOMAIN_NAME, new List<SelectListItem>
                                                  { new SelectListItem{Text="EUR", Value="EUR"},
                                                   new SelectListItem{Text="APAC", Value="APAC"},
                                                   new SelectListItem{Text="NAM", Value="NAM"}},"--Select Domain--", new { @class = "form-control select2 select2-primary" })
                                </div>
                                <div class="form-group form-box">
                                    @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "input-text", @placeholder = "Enter User Name", autocomplete = "off" } })
                                    <i class="flaticon-mail-2"></i>
                                </div>
                                <div class="form-group form-box">
                                    @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "input-text", @placeholder = "Enter Password", @type = "password", autocomplete = "off" } })
                                    <i class="flaticon-password"></i>
                                </div>
                                <div class="form-group mb-0">
                                    <button type="submit" class="btn-md btn-theme btn-block" id="CustomButtonColor">Login</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login 19 end -->
    <!-- External JS libraries -->
    <script src="~/Content/Assets/Login/js/bootstrap.min.js"></script>
    <script src="~/Content/Assets/Login/js/Custom.js"></script>
    <!-- Custom JS Script -->
</body>
</html>
