﻿@model Viztech.Models.VerificationData
@{
    ViewBag.Title = "Bio-Metric Verification";
    ViewBag.Controller = "Home";
    ViewBag.Action = "Bio-Metric Verification";

    if (ViewBag.message != "")
    {
        <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span class="fas fa-times"></span></button>
            @ViewBag.message
        </div>
    }
}
@using (Html.BeginForm("Biometric", "Verification", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="card card-default card-outline">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card-body">
            @*<div class="text-center text-bold CountdownTimer" id="CountdownTimer"></div>*@
            @*@Html.EditorFor(model => model.ValidateTimer, new { htmlAttributes = new { @style = "display:none" } })*@
            <br />
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Scan Finger Print</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-3">
                                    <div class="card-body">
                                        <img id="FPImage1" src="~/Content/Assets/Dashboard/Images/fingerprint.jpg" width="80" height="90" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <button type="button" value="SuccessFunc1, ErrorFunc" class="btn btn-outline-primary Custom-btn" id="GetFP" name="CallSGIFPGetData">
                                                Get Finger Print
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.ServerData)
                                <div class="col-md-2"></div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Provincial Area Details</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.AzadKashmir, new { @type = "checkbox", @class = "form-check-input" })
                                            <label class="form-check-label" for="azad kashmir">Azad Kashmir</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.Balochistan, new { @type = "checkbox", @class = "form-check-input" })
                                            <label class="form-check-label" for="balochistan">Balochistan</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.Fata, new { @type = "checkbox", @class = "form-check-input" })
                                            <label class="form-check-label" for="fata">Fata</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.GilgitBaltistan, new { @type = "checkbox", @class = "form-check-input" })
                                            <label class="form-check-label" for="gilgit-baltistan">Gilgit-Baltistan</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.KhyberPakhtunkhwa, new { @type = "checkbox", @class = "form-check-input" })
                                            <label class="form-check-label" for="khyber-pakhtunkhwa">Khyber-Pakhtunkhwa</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.Punjab, new { @type = "checkbox", @class = "form-check-input" })
                                            <label class="form-check-label" for="punjab">Punjab</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.Sindh, new { @type = "checkbox", @class = "form-check-input" })
                                            <label class="form-check-label" for="sindh">Sindh</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Personal Details</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <span class="text-danger req-font-size">* </span>@Html.Label("Citizen Number")
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.CitizenNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Citizen Number", autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.CitizenNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <span class="text-danger req-font-size">* </span>@Html.Label("Contact Number")
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Contact Number", autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Finger Index Details</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.RightThumb, new { @type = "checkbox", @class = "form-check-input" })
                                            <label class="form-check-label" for="Right Thumb">Right Thumb</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.RightIndex, new { @type = "checkbox", @class = "form-check-input" })
                                            <label class="form-check-label" for="Right Index">Right Index</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.RightMiddle, new { @type = "checkbox", @class = "form-check-input" })
                                            <label class="form-check-label" for="Right Middle">Right Middle</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.RightRing, new { @type = "checkbox", @class = "form-check-input" })
                                            <label class="form-check-label" for="Right Ring">Right Ring</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.RightLittle, new { @type = "checkbox", @class = "form-check-input" })
                                            <label class="form-check-label" for="Right Little">Right Little</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.LeftThumb, new { @type = "checkbox", @class = "form-check-input" })
                                            <label class="form-check-label" for="Left Thumb">Left Thumb</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.LeftIndex, new { @type = "checkbox", @class = "form-check-input" })
                                            <label class="form-check-label" for="Left Index">Left Index</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.LeftMiddle, new { @type = "checkbox", @class = "form-check-input" })
                                            <label class="form-check-label" for="Left Middle">Left Middle</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.LeftRing, new { @type = "checkbox", @class = "form-check-input" })
                                            <label class="form-check-label" for="Left Ring">Left Ring</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.LeftLittle, new { @type = "checkbox", @class = "form-check-input" })
                                            <label class="form-check-label" for="Left Little">Left Little</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="hidden" id="CustomModal" value="@ViewBag.ModalProperty" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" id="SendRequest" value="Send Request" class="btn btn-outline-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@{
    if (Model != null)
    {
        if (Model.response != null)
        {
            <div class="modal fade" id="modal-xl">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Client : <span class="text-blue">@Model.response.NAME</span> Details</h4>
                            <button type="button" class="close closemodal" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="ModalContent">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <center>
                                                    <img id="Image1" src="@Model.response.IMAGE_URL" alt="Client Image" height="120" width="120" />
                                                </center>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <center>
                                                    <img id="Image2" src="~/Content/Assets/Dashboard/Images/NADRA.png" alt="NADRA" height="120" width="120" />
                                                </center>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <center>
                                                    <img id="Image3" src="~/Content/Assets/Login/img/logos/logo.png" alt="Citi Bank" height="80" width="100" class="align-content-center" />
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.Label("Name")
                                                    <div class="col-md-12">
                                                        @Html.EditorFor(model => model.response.NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.Label("Father/Husband Name")
                                                    <div class="col-md-12">
                                                        @Html.EditorFor(model => model.response.FATHER_OR_HUSBAND_NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.Label("CNIC Number")
                                                    <div class="col-md-12">
                                                        @Html.EditorFor(model => model.response.CNIC_NO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.Label("Present Address")
                                                    <div class="col-md-12">
                                                        @Html.EditorFor(model => model.response.PRESENT_ADDRESS, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.Label("Permanent Address")
                                                    <div class="col-md-12">
                                                        @Html.EditorFor(model => model.response.PERMANANT_ADDRESS, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.Label("Date Of Birth")
                                                    <div class="col-md-12">
                                                        @Html.EditorFor(model => model.response.DATE_OF_BIRTH, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.Label("Birth Place")
                                                    <div class="col-md-12">
                                                        @Html.EditorFor(model => model.response.BIRTH_PLACE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.Label("CNIC Expiry Date")
                                                    <div class="col-md-12">
                                                        @Html.EditorFor(model => model.response.EXPIRY_DATE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.Label("Activity Date Time")
                                                    <div class="col-md-12">
                                                        @Html.EditorFor(model => model.response.ACTIVITY_DATE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default closemodal" data-dismiss="modal"><span class="fas fa-times-circle"></span> Close</button>
                            <button type="button" id="PrintModal" class="btn btn-danger"><span class="fas fa-print"></span> Print</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        }
    }
}
